.card-box {
  width: 600px;
  margin: 10px 0;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: 15px;
  a {
    color: #2b99ff;
    &.active {
      color: #ff8650;
    }
  }
}



.cycle {
  > p {
    margin: 30px 0;
  }
}

